* {
  margin: 0;
  padding: 0;
  font-family: Arial, serif;
  box-sizing: border-box;
}

/* Desktop styling */
@media (min-width: 800px) {
/*.phone {*/
/*    display: none;*/
/*  }*/

/*.burger {*/
/*    display: none;*/
/*  }*/
    header{
        background-color: #00bbb6;
    }

    main {
        margin-top: 50px;
        width: 100%;
        background: #9fffc4;
      }

}

/*!* Phone and tablet styling *!*/
/*@media (max-width: 800px) {*/
/*  .desktop {*/
/*    display: none;*/
/*  }*/

/*  .burger {*/
/*    cursor: pointer;*/
/*    position: relative;*/
/*    z-index: 2;*/
/*  }*/

/*  .burger .line {*/
/*    height: 3px;*/
/*    width: 25px;*/
/*    background-color: white;*/
/*    margin: 4px;*/
/*  }*/

/*  .nav {*/
/*    border-top: solid 5px white;*/
/*    display: flex;*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*    top: 100px;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    background-color: black;*/
/*    align-items: center;*/
/*    justify-content: space-evenly;*/
/*    flex-direction: column;*/
/*    clip-path: circle(50px at 50% -50px);*/
/*    -webkit-clip-path: circle(50px at 50% -50px);*/
/*    transition: all 1s ease-in-out;*/
/*  }*/

/*  .nav.open {*/
/*    clip-path: circle(950px at 50% -50px);*/
/*    -webkit-clip-path: circle(950px at 50% -50px);*/
/*    transition: all 1s ease-in-out;*/
/*    overflow-y: hidden;*/
/*  }*/

/*  .nav a {*/
/*    font-size: 8vw;*/
/*    color: whitesmoke;*/
/*    text-decoration: none;*/
/*  }*/

/*}*/
