{% extends 'store/main.html' %}
{% load static %}

{% block content %}
    <head>

        <title>Login</title>
        <link rel="stylesheet" href="{% static 'Store/CSS/main.css' %}">
        <link rel="stylesheet" href="{% static 'Store/CSS/login.css' %}">
        <link rel="script" href="{% static 'Store/JS/login.js' %}">

    </head>
    <main class="container div-store">
        {% if user.is_authenticated %}
            <br>
            <h1 id="welkoms-bericht">Welkom {{ user.username }}</h1>
            <h1 id="welkoms-bericht">je bent al ingelogd</h1>
        {% else %}
            {#            <div class="login-box">#}
            {#                <h1>Login</h1>#}
            {#                <p>{{ error }}</p>#}
            {#                <form method="post">#}
            {#                    {% csrf_token %}#}
            {#                    <input type="text" name="username" placeholder="Username">#}
            {#                    <input type="password" name="password" placeholder="Password">#}
            {#                    <button type="submit" name="login">Login</button>#}
            {#                </form>#}
            {#            </div>#}


            <div class="login-shop">
                <h1>Login</h1>
                <p>{{ error }}</p>
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Username" required="required"/>
                    <input type="password" name="password" placeholder="Password" required="required"/>
                    <button type="submit" name="login"
                            class="btn-login btn-primary-login btn-block-login btn-large-login">Let me in.
                    </button>
                    <br>
                    <a href="/register-shop">Nog geen account ?</a>
                    <br>
                    <a href="/register-shop">Wachtwoord vergeten ?</a>
                </form>
            </div>



        {% endif %}
    </main>
    <script type="text/javascript" src="{% static 'Store/JS/login.js' %}"></script>

{% endblock content %}