{% load static %}

<main>
{% if user.is_authenticated %}
    <form method="POST" enctype="multipart/form-data">

        <!-- Security token -->
        {% csrf_token %}

        <!-- Using the formset -->
        {{form.as_p }}

        <input type="submit" value="Submit">
    </form>
     <a href="/list" {% if request.get_full_path == "/list" %} class="currentPage" {% else %} class="navLink" {% endif %} >List</a>

{% else %}

    <h1>U bent niet gemachtigt deze pagina te bezoeken</h1>

{% endif %}
</main>
