{% load static %}

<main>
    {% if user.is_authenticated %}
        <!-- Specify fields to be displayed -->
        {{ data.title }}<br/>
        {{ data.description }}<br/>
        <img src="{{ data.img.url}}" alt="Geen Foto Beschikbaar" style="max-height:150px"><br>
        € {{ data.prijs }}<br>

        <br>
        <a href="{{ data.id }}/update">Update item</a> <br/>
        <a href="{{ data.id }}/delete">delete item</a> <br/>
        <a href="/list" {% if request.get_full_path == "/list" %} class="currentPage" {% else %} class="navLink" {% endif %} >Go Back</a>

    {% else %}

        <h1>U bent niet gemachtigt deze pagina te bezoeken</h1>

    {% endif %}
</main>