{% load static %}

<div class="main">

    {% for data in dataset %}
        <a href="/{{ data.id }}">
            {{ data.title }}<br/>
            {{ data.description }}<br/>
            <img src="{{ data.img.url}}" alt="Geen Foto Beschikbaar" style="max-height:150px"><br>
            € {{ data.prijs }}<br/>
            <hr/>
        </a>
    {% endfor %}
  <a href="/create" {% if request.get_full_path == "/create" %} class="currentPage" {% else %} class="navLink" {% endif %} >Go back</a>
</div>